# sbt
/target
/project/target
/project/project/target
/*/target
/*/project/*

# eclipse
/.project
/.classpath
/.cache
/.settings

# idea
/.idea
/.idea_modules
*.iml

# log files created when jvm crashes
hs_err_pid*.log

# generated static site
/static-site

# Temporary Directory
/tmp

# node locally installed modules
/node_modules
