[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
	shallow = true
[submodule "themes/minimage"]
	path = themes/minimage
	url = https://github.com/d-kusk/minimage.git
