{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/post-info.html" . }}
		{{ partial "single/title.html" . }}

		{{ partial "single/header.html" . }}

		{{ .Content }}

		{{ partial "single/footer.html" . }}
	</div>

  <div id="remark42"></div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.URL }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.URL }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

<script>
 var remark_config = {
     site_id: 'sld',
     max_shown_comments: 1000, // optional param; if it isn't defined default value (15) will be used
     theme: 'light', // optional param; if it isn't defined default value ('light') will be used 
 };

 (function() {
     var d = document, s = d.createElement('script');
     s.src = 'https://comment.res.ac/web/embed.js'; // prepends this address with domain where remark42 is placed
     (d.head || d.body).appendChild(s);
 })();
</script>

{{ end }}
