#toc { /* main &gt; article &gt; nav */
  display: table;
  background-color: #fafafa;
  padding: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  text-align: center;
  min-width: 50%;
}
#toc_heading { /* main &gt; article &gt; nav &gt; h2 */
  border-style: none;
  font-size: 1em;
  text-align: center;
  display: inline;
}
#toc_toggle { /* main &gt; article &gt; nav &gt; input[type="checkbox"] */
  display: none;
}
#toc_toggle_label { /* main &gt; article &gt; nav &gt; label */
  text-align: center;
  cursor:pointer;
  color:#3f13f3;
}
#TableOfContents ul { /* main &gt; article &gt; nav &gt; ul */
  text-align: left;
  list-style-type: none;
  padding: 0 0 0 2em;
}
#toc_toggle:checked~#toc_ul {
  display: none;
}
#toc_toggle:checked+#toc_toggle_label:after {
  content:'表示';
}
#toc_toggle:not(:checked)+#toc_toggle_label:after {
  content:'非表示';
}